.body{
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}




.header{
    text-align: center;
    background-color: rgba(17, 18, 87, 0.723);
    color: grey;
}